<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.ClasssDao">

    <select id="GetAllClasss" resultType="com.ssm.pojo.Classs">
        select * from classs
    </select>
    <select id="GetClassById" resultType="com.ssm.pojo.Classs">
        select * from classs where class_id= #{class_id}
    </select>
    <select id="getTeaByTeaid" parameterType="java.lang.Integer" resultType="com.ssm.pojo.Teacher">
        select * from teacher where teacher_id=#{teacher_id}
    </select>
</mapper>